body{
	margin:0;
}

.clear{
	clear: both;
}




.menu0{
	position: fixed;
	top:0;
	z-index: 4;
	background: white;
	width:300px;
	left:-100%;
	height: 100%;
	


}




.menu0 i{
	color: #0cb8b6;
	font-size: 15px;
}



.hamburger{
	display: none;
}

.hamburger .times i{
	display:none;
}

.tired{
	display:none;
}

.tired1{
	display:none;
}





.topmenu .timings{
	    font-size: 14px;
    margin: 0 0 3px;
    line-height: 1.3;
    color: #444;
    font-weight: 400;
    font-family: Montserrat;

}

.topmenu .openings{
	    color: rgba(68,68,68,.4);
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;

}

.topmenu .toplogo i{
	    color: #0cb8b6;

}



.navigation .form-inline input[type=search]{
	border: none!important;
}

.navigation i{
	color: #0cb8b6;
	cursor: pointer;
}

.mininavbar{
		display:none;
	}

.rig{
	position: fixed;
	top:10%;
	right:10%;
	width:400px;
	height: 500px;
	z-index: 5;
	display: none;
}


.section1{
	background: #0cb8b6;
	background-image: url('image/bgn-grad.png');
	padding-top: 40px;
	padding-bottom: 40px;
	 

}

.section1 h5{
	    font-weight: 400;
	        font-family: Source Serif Pro;
	        line-height: 1.55;


}

.section1 h1{
	       font-size: 35px;
	       letter-spacing: 0;
	       line-height: 1.15;
	       font-weight: 700;
	       font-family: Montserrat;

}

.section2 .map{
	position: relative;
	margin:0;
}

.section2 .me{
	position: absolute;
	top:0;
	left: 10%;
	background:#f36438;
	
}

.section2 h5{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif; 
}

.section3 p:first-child{
	    line-height: 1.55;
    font-size: 18px;
        font-weight: 400;
            font-family: Source Serif Pro;



}

.section3 p:last-child{
	    font-size: 35px!important;
	        line-height: 1.15;
	            letter-spacing: 0;
	                font-weight: 700;
	                    color: #222;
	                        font-family: Montserrat;






}

.section3 input[type=text]{
	width:100%;
	height: 40px;
	padding-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	    background-color: rgba(0,0,0,.07);

	border:1px solid rgba(0,0,0,.07);
	color: black;
}

.section3 input[type=email]{
	width:100%;
	height: 40px;
	padding-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	    background-color: rgba(0,0,0,.07);

	border:1px solid rgba(0,0,0,.07);
	color:black;
}

.section3 textarea[type=text]{
	width:100%;
	height: 100px;
	padding-left: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	    background-color: rgba(0,0,0,.07);

	border:1px solid rgba(0,0,0,.07);
	color:black;
}

.section3 button{
	    padding: 1em 2em 1em 2em;
	        background: #0cb8b6;
	            font-weight: 700;
	                cursor: pointer;
	                    color: #fff;
	                        font-family: Montserrat;
	                            border: none;
	                            margin-bottom: 50px;


}

.section3 .symbol i{
	    color: #0cb8b6;
	        font-size: 41px;
	            line-height: 41px;



}

.section3 .head{
	    font-size: 14px;
	        color: #222;
	            letter-spacing: 0;
	                font-weight: 600;
	                    font-family: Montserrat;





}

.section3 .description{
	    color: #444;
    font-family: Montserrat;
        font-size: 13px;
            font-weight: 400;
                line-height: 1.7;






}
.section4{
	background: #1D1F27;
}

.section4 .i p{
	font-size: 13px;
font-family: 'Montserrat', sans-serif; 
}

.section4 .ii p{
	font-size: 20px;
}

.section4 .iii{
	line-height: 0.5!important;
	font-size: 11px;
}

.section4 .iv{
	line-height: 1.3!important;
	font-size: 14px;
}

.footer{
	    color: #fff;
	        background: rgba(255,255,255,.075);


}

@media screen and (min-width: 768px) and (max-width: 1200px){
	.clear{
	clear: both;
	}

	body{
		margin:0;
	}

	.mininavbar{
		display:none;
	}
	
	.tired{
	display:none;
	}

	.tired1{
	display:none;
	}

	.hamburger{
		display:block;
	}
	.navigation{
		display: none;
	}

	.topmenu{
		display: none;
	}


	.rig{
	position: fixed;
	top:7%;
	right:3%;
	width:350px;
	height: 180px;
	z-index: 5;
	display: none;
	background: white;
}

#effect2 img{
	width:300px;
}

.footer .copyright{
	width:100%;
}

.footer .end{
	width:100%;
}
}


@media screen and (min-width: 300px) and (max-width: 767px){
	.clear{
	clear: both;
	}

	body{
		margin:0;
	}
	
	.tired{
	display:block;
	}

	.mininavbar{
		display:block;
		position:fixed;
		top:0;
		left:-100%;
		height: 100%;
		z-index:9;
		background: white;
		text-align: center;
		padding: 10px;
		box-sizing: border-box;
		width: 240px;
		padding-left: none;



	}

	.timestoggle i{
		display:none;
	}

	.mininavbar li{
		list-style-type: none;
	}

	.mininavbar a{
		text-decoration: none;
		color: #222;
	}


	.hamburger{
		display:none;
	}

	.menu0{
		display:none;
	}

	.navigation{
		display: none;
	}

	.topmenu{
		display: none;
	}

	.rig{
	position: fixed;
	top:7%;
	right:3%;
	width:350px;
	height: 180px;
	z-index: 5;
	display: none;
	background: white;
}

.section11 .manip{
	padding-bottom: 10px;
}

.footer .copyright{
	width:100%;
}

.footer .end{
	width:100%;
}

}


